/* Overwrites 
--------------------------------------------------- */

body{
    max-width:1200px !important;
}

/* navigation
--------------------------------------------------- */

.main-nav{
    padding:20px 0;
    .nav li{
        margin-left:40px;
    }
}

.nav-pills li.active a{
    background-color: #77af4b;
    color: white;
    &:hover{
        background-color: #77af4b !important;
    }
}

.navbar a{
    transition: 0.4s;
    color:#777;
    font-size:15px;
    background-color: none;
    &:hover{
        background-color: #fff !important;
        color:#000;
    }
}

header{
    border-bottom: 1px solid #eee;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.nav{
    margin-top:8px;
}


/* Tables
--------------------------------------------------- */

td{
    padding: 30px 8px 30px 8px !important;
}

.table-striped tbody tr:nth-of-type(odd), .table-striped tbody tr:nth-of-type(even){
    transition: 0.5s background-color;
    &:hover{
        background-color: darken(#f9f9f9, 15%);
        outline: 1px solid lighten(#000000,70%);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    }
}

/* Headline component
--------------------------------------------------- */


.headline{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    height:230px;
    padding-top:90px;
    opacity: 0.9;
    h1{
        font-size:28px;
        color:rgba(0,0,0,0.8);
    }
}

.table, form{
    margin-top:50px;
}

/* Forms
--------------------------------------------------- */

form{
    padding-bottom: 30px;
}

.form-group{
    margin-bottom: 50px;
}

.medium{
    width:380px;
}

.small{
    width:280px;
}

.error{
    label,.errortext{
        color:red;
    }
    .errortext{
        display: block;
        margin-top:10px;
        font-size: 12px;
        font-style: italic;
    }
}

.button-group{
    margin-top:80px;
    button{
        font-size:18px;
        margin-right:30px;   
    }
    
    .btn-primary{
        background-image: linear-gradient(-180deg, #00AA4D 0%, #96C842 100%);  
        border: 1px solid rgba(0,0,0,0.3);
        &:hover{
            background-image: linear-gradient(-180deg, darken(#00AA4D,10%) 0%, darken(#96C842,10%) 100%);     
        }
    }
        
}


/* Media Queries 
--------------------------------------------------- */


/* extra small */
@media screen and(max-width:768px){


}

/* small*/
@media screen and (min-width:768px) and (max-width:992px){
  
  
}

/* medium */
@media screen and (min-width:992px) and (max-width:1200px){
  
}

/* large */

@media screen and (min-width:1200px){

}
